{
   port : 7000,
   socialNetworks : ["vk"],
   socialNetworkInitializers : [
      {
          VkServiceAuth :
          {
             serviceToken : "put your service key here",
             appId : put_your_application_id_key_here
          }
      },
      {
          Tags :
          {
             contenderA : ["Санкт-Петербург", "Питер", "CПБ", "Saint-Petersburg", "LED", "Ленинград"],
             contenderB : ["Москва", "МСК", "Moscow", "MSK"]
          }
      }
   ],
   contenderA :
   {
      name : "Санкт-Петербург",
      image : "content\\contenderA.png"
   },
   contenderB :
   {
      name : "Москва",
      image : "content\\contenderB.png"
   }
}