{
  port : 1020,
  socialNetworks : ["VK", "Twitter"],
  socialNetworkInitializers : [
    {
      VkServiceToken :
      {
        accessToken : "put_your_token_here"
      }
    },
    {
      Tags :
      {
        words : ["TestA", "TestB"]
      }
    },
    {
      TwitterTokens :
      {
        consumerKey : "consumerKey",
        consumerSecret : "consumerSecret",
        accessToken : "accessToken",
        accessTokenSecret : "accessTokenSecret"
      }
    }
  ]
}