{
   port : 7000,

   socialNetworks : ["vk", "Twitter"],
   socialNetworkInitializers : [
      {
          Database :
          {
             name : "mentionBattle"
          },
          VkServiceAuth :
          {
             serviceToken : "put your service key here",
             appId : put_your_application_id_key_here
          },
           TwitterTokens :
           {
             consumerKey : "Put your token here",
             consumerSecret : "Put your token here",
             accessToken : "Put your token here",
             accessTokenSecret : "Put your token here"
           }
      },
      {
          Tags :
          {
             contenderA : ["Trump"],
             contenderB : ["Putin"]
          }
      }
   ],
   contenderA :
   {
      id   : 1,
      name : "Trump",
      image : "content\\contenderA.png"
   },
   contenderB :
   {
      id   : 2,
      name : "Putin",
      image : "content\\contenderB.png"
   }
}