{
   port : 1020,
   socialNetworks : [],
   socialNetworkInitializers : [
      {
          Tag1 :
          {
             value1 : "value1"
          }
      },
      {
          Tag2 :
          {
             value2 : ["value2", "value2"]
          }
      }
   ],
   contenderA :
   {
      id : 1,
      name : "Санкт-Петербург",
      image : "content\\contenderA.png"
   },
   contenderB :
   {
      id : 2,
      name : "Москва",
      image : "content\\contenderB.png"
   }
}