{
   port : 1020,
   socialNetworks : ["Network", "Network", "Network"],
   socialNetworkInitializers : [
   ],

   contenderA :
   {
      id : 1,
      name : "Санкт-Петербург",
      image : "content\\contenderA.png"
   },
   contenderB :
   {
      id : 2,
      name : "Москва",
      image : "content\\contenderB.png"
   }
}